@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="form-horizontal">
        <hr />
        <h2>Summary</h2>
        <ul>
            <li>.Net 5</li>
            <li>Entity Framework</li>
            <li>automapper</li>
            <li>API as a service (IProjectService and Dependency Injection).</li>
            <li>Connects to the API as "external" (Result as JSON) when administrating Users</li>
            <li>View Component to show the active work in the shared view.</li>
            <li>Extension methods</li>
            <li>Authentication?</li>
     
        </ul>
    </div>
</div>
